@import '../themes.scss';

.chart-wrapper {
  position: relative;

  .tooltip-box {
    border-radius: 5px;
    position: absolute;
    padding: 10px;
    white-space: nowrap;

    @include themify {
      box-shadow: themed('tooltipBoxShadow');
      background-color: themed('tooltipBackground');
    }

    .tooltip-date {
      @include themify {
        color: themed('tooltipDateColor');
      }
    }

    .tooltip-value {
      @include themify {
        color: themed('tooltipValueColor');
      }

      padding-top: 5px;
    }

    .tooltip-difference {
      margin-left: 10px;

      &.tooltip-difference-positive {
        color: green;
      }

      &.tooltip-difference-negative {
        color: darkred;
      }
    }
  }
}

svg.chart-component {
  rect.background {
    @include themify {
      fill: themed('chartBackground');
    }
  }

  circle.tooltip-point {
    pointer-events: none;
    stroke-width: 2;

    @include themify {
      stroke: themed('chartBackground');
      fill: themed('chartLineColor');
    }
  }

  line.tooltip-line {
    pointer-events: none;
    stroke-width: 2;
    opacity: 0.5;

    @include themify {
      stroke: themed('chartLineColor');
    }
  }
}
